:host {
  --lumo-icons-align-center: 'format_align_center';
  --lumo-icons-align-left: 'format_align_left';
  --lumo-icons-align-right: 'format_align_right';
  --lumo-icons-angle-down: 'expand_more';
  --lumo-icons-angle-left: 'chevron_left';
  --lumo-icons-angle-right: 'chevron_right';
  --lumo-icons-angle-up: 'expand_less';
  --lumo-icons-arrow-down: 'arrow_downward';
  --lumo-icons-arrow-left: 'arrow_back';
  --lumo-icons-arrow-right: 'arrow_forward';
  --lumo-icons-arrow-up: 'arrow_upward';
  --lumo-icons-bar-chart: 'bar_chart';
  --lumo-icons-bell: 'notifications';
  --lumo-icons-calendar: 'event';
  --lumo-icons-checkmark: 'check';
  --lumo-icons-chevron-down: 'arrow_drop_down';
  --lumo-icons-chevron-left: 'arrow_left';
  --lumo-icons-chevron-right: 'arrow_right';
  --lumo-icons-chevron-up: 'arrow_drop_up';
  --lumo-icons-clock: 'schedule';
  --lumo-icons-cog: 'settings';
  --lumo-icons-cross: 'close';
  --lumo-icons-download: 'file_download';
  --lumo-icons-dropdown: 'expand_more';
  --lumo-icons-edit: 'edit';
  --lumo-icons-error: 'error_outline';
  --lumo-icons-eye: 'visibility';
  --lumo-icons-eye-disabled: 'visibility_off';
  --lumo-icons-menu: 'menu';
  --lumo-icons-minus: 'remove';
  --lumo-icons-ordered-list: 'format_list_numbered';
  --lumo-icons-phone: 'phone';
  --lumo-icons-photo: 'image';
  --lumo-icons-play: 'play_arrow';
  --lumo-icons-plus: 'add';
  --lumo-icons-redo: 'redo';
  --lumo-icons-reload: 'refresh';
  --lumo-icons-search: 'search';
  --lumo-icons-undo: 'undo';
  --lumo-icons-unordered-list: 'format_list_bulleted';
  --lumo-icons-upload: 'file_upload';
  --lumo-icons-user: 'person_outline';

  --vaadin-rte-icons-align-center: 'format_align_center';
  --vaadin-rte-icons-align-left: 'format_align_left';
  --vaadin-rte-icons-align-right: 'format_align_right';
  --vaadin-rte-icons-clean: 'format_clear';
  --vaadin-rte-icons-image: 'image';
  --vaadin-rte-icons-link: 'link';
  --vaadin-rte-icons-list-bullet: 'format_list_bulleted';
  --vaadin-rte-icons-list-ordered: 'format_list_numbered';
  --vaadin-rte-icons-redo: 'redo';
  --vaadin-rte-icons-undo: 'undo';
}

:host [part$='button']::before {
  font-family: var(--synneo-material-icon-font);
}

/* Number field styles */
:host [part='increase-button']::before,
:host [part='decrease-button']::before {
  margin-top: 0.3em;
}

:host [part='increase-button']::before {
  content: var(--lumo-icons-plus);
}

:host [part='decrease-button']::before {
  content: var(--lumo-icons-minus);
}

/* Vaadin Item */
/* Vaadin Combo Box Item */
:host([tabindex])::before {
  font-family: var(--synneo-material-icon-font);
}

/* Vaadin Menu Bar */
:host(.vaadin-menu-item.vaadin-context-menu-parent-item)::after {
  font-family: var(--synneo-material-icon-font) !important;
}

/* Vaadin Upload */
:host [part='drop-label-icon']::before {
  font-family: var(--synneo-material-icon-font);
}

/* Rich text editor */
:host [part~='toolbar-button']::before {
  font-family: var(--synneo-material-icon-font);
}
