dl {
  overflow: hidden;
  margin: 0;
}

dt {
  float: left;
  clear: left;
  color: var(--lumo-secondary-text-color);
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-s);
  font-weight: 500;
  padding-right: var(--lumo-space-m);
  padding-bottom: var(--lumo-space-xs);
  margin-top: 3px;
  box-sizing: border-box;
  max-width: 50%;
}

dd {
  float: left;
  margin: 0;
  padding-bottom: var(--lumo-space-xs);
  box-sizing: border-box;
}

/* fixed widths */
dl[theme~="narrow"],
dl[theme~="wide"] {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

dl[theme~="narrow"] dt {
  width: 140px;
}
dl[theme~="narrow"] dd {
  width: calc(100% - 140px);
}

dl[theme~="wide"] dt {
  width: 220px;
}
dl[theme~="wide"] dd {
  width: calc(100% - 220px);
}

dl[theme~="align-right"] dd {
  text-align: right;
  float: unset;
}

dl[theme~="table"] dt,
dl[theme~="table"] dd {
  border-bottom: 1px solid var(--lumo-contrast-10pct);
  font-size: var(--lumo-font-size-m);
  margin-top: 0;
  padding-left: var(--lumo-space-s);
  padding-top: var(--lumo-space-xs);
}

dl[theme~="table"] dt:first-of-type,
dl[theme~="table"] dd:first-of-type {
  border-bottom: 1px solid var(--lumo-contrast-20pct);
  color: var(--lumo-body-text-color);
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  dt {
    width: 100%;
    max-width: 100%;
  }
  dd {
    width: 100%;
  }
}