.filter-panel .spacer {
  flex-grow: 1;
}

.filter-panel__filters {
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid var(--lumo-shade-10pct);
  padding-left: var(--lumo-space-s);
  padding-right: var(--lumo-space-s);
  max-height: 60%;
}

.filter-panel__actions {
  flex-shrink: 0;
  padding-bottom: var(--lumo-space-s);
  flex-wrap: wrap;
}

.filter-panel__action-buttons {
  display: flex;
  flex: 1 1 0px;
  justify-content: flex-end;
  width: 100%;
}

.filter-panel__fields {
  padding-bottom: var(--lumo-space-s);
  opacity: 1;
  transition: 300ms;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: auto;
}

.filter-panel[collapsed] .filter-panel__fields {
  padding-bottom: 0;
}

.filter-panel[collapsed] .filter-panel__fields > * {
  display: none;
}

.filter-panel__fields vaadin-text-field {
  padding-top: var(--lumo-space-s);
}

.filter-panel__actions > *,
.filter-panel__fields > *,
.filter-panel__active-filters > * {
  margin: 0 var(--lumo-space-s);
}

.filter-panel__action-buttons > *,
.filter-panel__field-buttons > * {
  margin: 0 var(--lumo-space-xs);
}

.filter-panel__field-buttons {
  padding-top: var(--lumo-space-s);
}

.filter-panel__active-filters {
  flex: 1 0 auto;
  opacity: 0;
  transition: 300ms;
  padding-bottom: 0;
}

.filter-panel[collapsed] .filter-panel__active-filters {
  opacity: 1;
  padding-bottom: var(--lumo-space-s);
}

.filter-panel__content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

/* Mobile size */
@media (max-width: 860px) {

  .filter-panel__fields {
    padding-bottom: 4rem;
  }

  .filter-panel__fields .spacer.mobile {
    width: 100%;
    height: 100%;
  }

  .filter-panel__filters {
    position: relative;
    transition: 300ms;
    flex-basis: 100%;
    max-height: none;
  }

  .filter-panel[collapsed] .filter-panel__filters {
    flex-basis: 0%;
  }

  .filter-panel[collapsed] .filter-panel__fields {
    display: none !important;
  }

  .filter-panel__actions {
    align-items: flex-end;
  }

  .filter-panel__field-buttons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    left: auto;
    right: 0;
    width: 100%;
  }

  .filter-panel__content[hidden-on-mobile] {
    flex-basis: 0;
    display: none;
  }
}
