table[theme="synneo"] {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

table[theme="synneo"] th {
    font-weight: 600;
}

table[theme="synneo"] th,
table[theme="synneo"] td {
    padding-top: var(--lumo-space-xs);
    padding-bottom: var(--lumo-space-xs);
    padding-left: var(--lumo-space-s);
    padding-right: var(--lumo-space-l);
}

table[theme="synneo"] thead tr {
    border-bottom: 1px solid var(--lumo-contrast-20pct);
}

table[theme="synneo"] tr {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
}


