[part="summary-content"] {
    width: 100%;
}

[part="content"] {
    transition: 400ms;
    display: block;
    opacity: 0;
    padding: 0;
    max-height: 0px;
}

:host([opened]) [part="content"] {
    opacity: 1;
    padding: var(--lumo-space-xs) 0 var(--lumo-space-s);
    max-height: 100vh;
}