/* Color 0 */
.highcharts-point.highcharts-color-0 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-0-0 {
    fill: var(--vaadin-charts-color-0-0);
    stroke: var(--vaadin-charts-color-0-0);
}

.highcharts-custom-color-0-1 {
    fill: var(--vaadin-charts-color-0-1);
    stroke: var(--vaadin-charts-color-0-1);
}

.highcharts-custom-color-0-2 {
    fill: var(--vaadin-charts-color-0-2);
    stroke: var(--vaadin-charts-color-0-2);
}

/* Color 1 */
.highcharts-point.highcharts-color-1 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-1-0 {
    fill: var(--vaadin-charts-color-1-0);
    stroke: var(--vaadin-charts-color-1-0);
}

.highcharts-custom-color-1-1 {
    fill: var(--vaadin-charts-color-1-1);
    stroke: var(--vaadin-charts-color-1-1);
}

.highcharts-custom-color-1-2 {
    fill: var(--vaadin-charts-color-1-2);
    stroke: var(--vaadin-charts-color-1-2);
}

/* Color 2 */
.highcharts-point.highcharts-color-2 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-2-0 {
    fill: var(--vaadin-charts-color-2-0);
    stroke: var(--vaadin-charts-color-2-0);
}

.highcharts-custom-color-2-1 {
    fill: var(--vaadin-charts-color-2-1);
    stroke: var(--vaadin-charts-color-2-1);
}

.highcharts-custom-color-2-2 {
    fill: var(--vaadin-charts-color-2-2);
    stroke: var(--vaadin-charts-color-2-2);
}

/* Color 3 */
.highcharts-point.highcharts-color-3 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-3-0 {
    fill: var(--vaadin-charts-color-3-0);
    stroke: var(--vaadin-charts-color-3-0);
}

.highcharts-custom-color-3-1 {
    fill: var(--vaadin-charts-color-3-1);
    stroke: var(--vaadin-charts-color-3-1);
}

.highcharts-custom-color-3-2 {
    fill: var(--vaadin-charts-color-3-2);
    stroke: var(--vaadin-charts-color-3-2);
}

/* Color 4 */
.highcharts-point.highcharts-color-4 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-4-0 {
    fill: var(--vaadin-charts-color-4-0);
    stroke: var(--vaadin-charts-color-4-0);
}

.highcharts-custom-color-4-1 {
    fill: var(--vaadin-charts-color-4-1);
    stroke: var(--vaadin-charts-color-4-1);
}

.highcharts-custom-color-4-2 {
    fill: var(--vaadin-charts-color-4-2);
    stroke: var(--vaadin-charts-color-4-2);
}

/* Color 5 */
.highcharts-point.highcharts-color-5 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-5-0 {
    fill: var(--vaadin-charts-color-5-0);
    stroke: var(--vaadin-charts-color-5-0);
}

.highcharts-custom-color-5-1 {
    fill: var(--vaadin-charts-color-5-1);
    stroke: var(--vaadin-charts-color-5-1);
}

.highcharts-custom-color-5-2 {
    fill: var(--vaadin-charts-color-5-2);
    stroke: var(--vaadin-charts-color-5-2);
}

/* Color 6 */
.highcharts-point.highcharts-color-6 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-6-0 {
    fill: var(--vaadin-charts-color-6-0);
    stroke: var(--vaadin-charts-color-6-0);
}

.highcharts-custom-color-6-1 {
    fill: var(--vaadin-charts-color-6-1);
    stroke: var(--vaadin-charts-color-6-1);
}

.highcharts-custom-color-6-2 {
    fill: var(--vaadin-charts-color-6-2);
    stroke: var(--vaadin-charts-color-6-2);
}

/* Color 7 */
.highcharts-point.highcharts-color-7 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-7-0 {
    fill: var(--vaadin-charts-color-7-0);
    stroke: var(--vaadin-charts-color-7-0);
}

.highcharts-custom-color-7-1 {
    fill: var(--vaadin-charts-color-7-1);
    stroke: var(--vaadin-charts-color-7-1);
}

.highcharts-custom-color-7-2 {
    fill: var(--vaadin-charts-color-7-2);
    stroke: var(--vaadin-charts-color-7-2);
}

/* Color 8 */
.highcharts-point.highcharts-color-8 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-8-0 {
    fill: var(--vaadin-charts-color-8-0);
    stroke: var(--vaadin-charts-color-8-0);
}

.highcharts-custom-color-8-1 {
    fill: var(--vaadin-charts-color-8-1);
    stroke: var(--vaadin-charts-color-8-1);
}

.highcharts-custom-color-8-2 {
    fill: var(--vaadin-charts-color-8-2);
    stroke: var(--vaadin-charts-color-8-2);
}

/* Color 9 */
.highcharts-point.highcharts-color-9 {
    fill: inherit;
    stroke: inherit;
}

.highcharts-custom-color-9-0 {
    fill: var(--vaadin-charts-color-9-0);
    stroke: var(--vaadin-charts-color-9-0);
}

.highcharts-custom-color-9-1 {
    fill: var(--vaadin-charts-color-9-1);
    stroke: var(--vaadin-charts-color-9-1);
}

.highcharts-custom-color-9-2 {
    fill: var(--vaadin-charts-color-9-2);
    stroke: var(--vaadin-charts-color-9-2);
}

:host([theme~="legend-bottom-left"]) .highcharts-root {
    overflow: visible;
    padding-bottom: 80px;
}

:host([theme~="legend-checkmarks"]) .highcharts-legend .highcharts-legend-item > text {
    fill: inherit;
    transform: translateX(-18px);
}

:host([theme~="legend-checkmarks"]) .highcharts-legend .highcharts-legend-item > rect {
    fill: transparent;
}

:host([theme~="legend-checkmarks"]) .highcharts-legend .highcharts-legend-item > text > tspan {
    fill: #333;
}
:host([theme~="legend-checkmarks"]) .highcharts-legend .highcharts-legend-item > text > tspan:first-of-type {
    fill: inherit;
    letter-spacing: 4px;
}

:host([theme~="legend-checkmarks"]) .highcharts-legend-title > text > tspan:not(:first-of-type) {
    fill: #666;
    font-size: 10px;
}

:host([theme~="legend-floating"]) .highcharts-legend .highcharts-legend-title text {
    fill: var(--color-secondary-main);
    cursor: default;
}

:host([theme~="legend-floating"]) .highcharts-legend .highcharts-legend-item {
    opacity: 0;
    transition: 200ms;
}

:host([theme~="legend-floating"]) .highcharts-legend:hover .highcharts-legend-item {
    opacity: 1;
    transition: 200ms;
}

:host([theme~="legend-floating"]) .highcharts-legend:hover .highcharts-legend-box {
    fill: #fff;
    filter: drop-shadow(0px 0px 6px rgba(0,0,0,.1));
}