:host([theme~="single-menu-button"]) {
    border-radius: var(--lumo-border-radius);
}

:host([theme~="custom-style"]) {
    color: white;
    background: linear-gradient(#e66465, #9198e5);
}

:host([aria-haspopup="true"]:not([part="overflow-button"]):not([theme~="icon"])) [part="suffix"]::after {
    content: "expand_more";
}

:host([aria-haspopup="true"]:not([part="overflow-button"]):not([theme~="icon"])) [part="suffix"]::after {
    font-family: "Material Icons";
    font-size: var(--lumo-icon-size);
    color: var(--lumo-primary-text-color);
    vertical-align: middle;
}