:host {
  margin: 0 var(--lumo-space-xs) var(--lumo-space-xs) var(--lumo-space-xs) !important;
  max-width: 400px;
  color: var(--lumo-secondary-text-color);
  font-size: var(--lumo-font-size-xs);
  line-height: var(--lumo-line-height-xs);
  box-shadow: none;
}

[part="container"] {
  box-shadow: 0 1px 4px -1px var(--lumo-shade-20pct);
}