:host {
  --vcf-password-strength-empty-color: var(--color-secondary-100);
  --vcf-password-strength-1-color: var(--color-secondary-300);
  --vcf-password-strength-2-color: var(--color-secondary-400);
  --vcf-password-strength-3-color: var(--color-secondary-500);
  --vcf-password-strength-4-color: var(--color-secondary-600);
  --vcf-password-strength-5-color: var(--color-primary-main);
}

[part='bars'] {
  height: 6px;
}